    <nav class="col-md-2 sidebar">
      <div class="text-center fw-semibold mb-3"><%= profile.HoVaTen %></div>
      <% 
    const activePage = typeof currentPage !== 'undefined' ? currentPage : '/dashboard-admin';
  %>
      <a href="/dashboard-admin" class="<% if (activePage === '/dashboard-admin') { %>active<% } %>">Trang Dashboard</a>
      <a href="admin/quanlylop" class="<% if (activePage === '/admin/quanlylop') { %>active<% } %>">Quản Lý Lớp Học</a>
      <a href="#">Tạo Lớp</a>
      <a href="#">Quản Lý Tài Khoản</a>
      <a href="#">Thông Báo</a>
      <a href="#">Tài Khoản Cá Nhân</a>
      <form id="logoutForm" action="/logout" method="POST" style="display:none;"></form>
<button class="logout-btn" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</button>

    </nav>