            <nav class="col-md-2 sidebar">
                <div class="sidebar-info mb-3">
                    <div class="photo-box2">Ảnh</div>
                    <span class="nhanvien-ten">
                        <%= profile.HoTen %>
                    </span>
                </div>


                <a href="#" class="active">Trang Dashboard</a>
                <a href="/monhoc">Quản lý môn học</a>
                <a href="/diemthi">Nhập điểm thi</a>
                <a href="/xet-tuyen">Xét tuyển</a>
                <a href="/chi-tieu">Chỉ tiêu tuyển sinh</a>

                <form id="logoutForm" action="/logout" method="POST" style="display:none;"></form>
                <button class="logout-btn" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</button>
            </nav>