    <nav class="col-md-2 sidebar">
      <div class="text-center fw-semibold mb-3"><%= profile.HoVaTen %></div>
      <a href="/dashboard-hocsinh" class="active">Trang Dashboard</a>
      <a href="#">Kết Quả Học Tập</a>
      <a href="#">Thời Khóa Biểu</a>
      <a href="#">Bài Tập</a>
      <a href="#">Thông Báo</a>
      <a href="/hocsinh/<%= hocSinh.id %>/diem">Điểm các môn</a>
      <a href="#">Tài Khoản Cá Nhân</a>
            <button class="logout-btn" onclick="changePassword('<%= currentUser.id %>')">Đổi mật khẩu</button>
      <form id="logoutForm" action="/logout" method="POST" style="display:none;"></form>
<button class="logout-btn" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</button>

    </nav>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function changePassword(userId) {
  Swal.fire({
    title: "Nhập mật khẩu mới",
    input: "password",
    inputPlaceholder: "Mật khẩu mới",
    confirmButtonText: "Đổi mật khẩu",
    showCancelButton: true
  }).then(result => {
    if (!result.value) return;

    fetch(`/account/re-password/${userId}`, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ password: result.value })
    })
    .then(res => {
      if (res.ok) {
        Swal.fire("Thành công", "Đổi mật khẩu thành công", "success");
      } else {
        Swal.fire("Lỗi", "Không thể đổi mật khẩu", "error");
      }
    });
  });
}
</script>
