    <nav class="col-md-2 sidebar">
      <div class="text-center fw-semibold mb-3">  <%= profile.HoVaTen %></div>
      <a href="#" class="active">Trang Dashboard</a>
      <a href="#">Xem Thời Khóa Biểu</a>
      <a href="#">Xin Nghỉ Học</a>
      <a href="#">Xem Điểm</a>
      <a href="#">Đăng Ký Nhập Học</a>
      <a href="#">Đăng Ký Tuyển Sinh</a>
      <a href="/thanh-toan-hoc-phi">Thanh Toán Học Phí</a>
      <form id="logoutForm" action="/logout" method="POST" style="display:none;"></form>
<button class="logout-btn" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</button>

    </nav>