services:
  db:
    image: postgres:15
    container_name: postgres_db
    # restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "404"
      POSTGRES_DB: qlth
    ports:
      - "5432:5432"
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_ui
    # restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

# volumes:
#   postgres_data: